<footer>
    <h5>All Rights Reserved</h5>

    <ul>
        <li>
            <a href="/"><h5>Home</h5></a>
        </li>
        <li>
            <a href="/users/profile"><h5>Profile</h5></a>
        </li>
    </ul>

</footer>